<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="ConsoleAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{MM:dd HH:mm:ss.SSS} [%t] [%level] [%logger{36}] - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="RollingAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>C:/Users/SAGAR/Documents/workspace-spring-tool-suite-4-4.10.0.RELEASE/3rd_Mini_Project/AppLogs.log
		</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{MM:dd HH:mm:ss.SSS} [%t] [%level] [%logger{36}] - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>C:/Users/SAGAR/Documents/workspace-spring-tool-suite-4-4.10.0.RELEASE/3rd_Mini_Project/AppLogs_%d{dd-MM-yyyy}.log
			</fileNamePattern>
			<maxHistory>10</maxHistory>
			<totalSizeCap>10KB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<!-- Logging custom package -->
	<logger name="in.ashokit" level="info" additivity="false">
		<appender-ref ref="ConsoleAppender"></appender-ref>
		<appender-ref ref="RollingAppender"></appender-ref>
	</logger>

	<!-- Logging spring boot package -->
	<logger name="org.springframework.boot" level="info"
		additivity="false">
		<appender-ref ref="ConsoleAppender"></appender-ref>
		<appender-ref ref="RollingAppender"></appender-ref>
	</logger>

	<root level="info">
		<appender-ref ref="ConsoleAppender"></appender-ref>
		<appender-ref ref="RollingAppender"></appender-ref>
	</root>
</configuration>